@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-charcoal: rgb(54 69 79);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
